.navbar {
    width: 80%;
    margin: auto;
    Display: flex;
    flex-direction: row;
    Justify-content: space-between;
    Align-items: center;
    Padding: 50px 30px 1px;
    Background: #fff;
    Box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;

    position: sticky;
    top: 10px;
    z-index: 1000;

}



user-profile {
    Display: flex;
    Cursor: pointer;
    
}

.user-profile img {
    Width: 45px;
    Height: 45px;
    Border-radius: 50%;
    margin-right: -20px;
}




.hero {
    Padding: 100px 0;
    Overflow: hidden;
    margin-top:20px;
    text-align: center;
}

.container {
    Max-width: 1200px;
    Margin: 0 auto;
    Padding: 0 20px;
}

.hero-container {
    Display: grid;
    Grid-template-columns: 1fr 1.5fr;
    Align-items: center;
    Gap: 100px;
   
}

.tag {
    font-size: 12px;
    letter-spacing: 2px;
    color: red;
    Font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.book-title {
    Font-size: 48px;
    Font-weight: 700;
    Line-height: 1.2;
    Margin-bottom: 10px;
    Color: var(--dark-color);
}

.author {
    Font-size: 14px;
    Color: var(--text-grey);
    Margin-bottom: 25px;
}

.genre {
    Color: var(--dark-color);
    Font-weight: 500;
    Margin-left: 10px;
    Padding-left: 10px;
    Border-left: 1px solid #ddd;
}

.description {
    Color: var(--text-grey);
    Line-height: 1.6;
    Margin-bottom: 30px;
    Max-width: 90%;
    Font-size: 14px;
}

.price-box {
    Align-items: center;
    line-height: 30px;
    Gap: 15px;
    Margin-bottom: 35px;
}

.current-price {
    Font-size: 25px;
    Font-weight: 700;
    color: green;
}

.old-price {
    Font-size: 16px;
    Text-decoration: line-through;
    Color: #bbb;
}

.discount-tag {
    Background: #ffeaea;
    Color: var(--primary-color);
    Padding: 4px 8px;
    Border-radius: 4px;
    Font-size: 12px;
    Font-weight: 600;
}

.hero-buttons {
    Display: flex;
    Gap: 15px;
    padding-top: 20px;
}
.btn {
    Padding: 12px 30px;
    Border-radius: 6px;
    Font-size: 14px;
    Font-weight: 600;
    Cursor: pointer;
    Transition: 0.3s;
}

.btn-primary {
    background-color: #2a2a45;
    Color: #fff;
    Border: 1px solid var(--dark-color);
}

.btn-primary:hover {
    Background:transparent;
    color: #2a2a45;
}

.btn-outline {
    Background: transparent;
    Color:dodgerblue;
    Border: 1px solid #ddd;
}

.btn-outline:hover {
    Border-color: var(--dark-color);
    color: #2a2a45;
}

.hero-image-area {
    Position: relative;
      width: 100%;
      margin-right: 20%;
    Height: 500px;
    Display: flex;
    Justify-content: center;
    Align-items: flex-end;
}

.main-person-img {
    Height: 110%; 
    Object-fit: cover;
    Mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}



.floating-card {
    Position: absolute;
    Bottom: 10px;
    Right: 0;
    background-color: transparent;
    Padding: 15px;
    Border-radius: 12px;
    Display: flex;
    Gap: 15px;
    Box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    Width: 260px;
    Align-items: center;
}

.mini-book-cover {
    Width: 50px;
    Height: 50px;
    Background:rgb(133, 190, 220); 
    Border-radius: 4px;
    Display: flex;
    Align-items: center;
    Justify-content: center;
    Color: white;
}

.mini-card-info h4 {
    Font-size: 14px;
    color: white;

    Font-weight: 600;
    Margin-bottom: 2px;
}

.mini-card-info p {
    Font-size: 12px;
     text-align: center;
     Color: var(--dark-color);
    Margin-bottom: 5px;
    padding-right: 20px;
}

.stars {
    Color: #fca311;
    Font-size: 10px;
    Margin-bottom: 5px;
}

.mini-price {
    Font-size: 14px;
    Font-weight: 700;
    color: red;
}


@media (max-width: 900px) {
    .hero-container {
        Grid-template-columns: 1fr;
        Text-align: center;
    }

    .hero-content {
        Display: flex;
        Flex-direction: column;
        Align-items: center;
    }

    .main-person-img {
        Height: 350px;
    }

    .floating-card {
        Right: 50%;
        Transform: translateX(50%);
        Bottom: 10px;
    }
}




.slideshow-container {
   
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-radius: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}



.bar{
    margin-left: 5%;
    margin-right: 5%;
}




.galleryh{
    color: rgb(0, 186, 227);
    text-align: center;
}





.gallery{
    width: 20%;
    height: 33%;
    border: 1px solid transparent;
    margin: 10px;
    overflow: scroll;
    overflow: hidden;
  color: white;
    text-align: center;
   
}
.gallery div {
overflow: hidden;

}


.gallerycon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
     border-radius: 10px ;
      border: 1.2px solid rgb(0, 186, 227);
      background-color:black;
    

     
}


.galleryindiv{
    width: 95%;
    height: 80%;
}

.overdivcatl{
            background-size:cover;
            background-position:center ;
            background-repeat: no-repeat;
            height:100%;
            padding: 20px;
            
        }
        

        .buybtn{
            border: 2px solid green;
        }

         .buybtn:hover{
            border: 2px solid transparent;
            background-color: transparent;
            color: white;
        }

        .buybtn:active{
            border: 2px solid transparent;
            background-color: rgb(114, 164, 213);
            color: white;
        }



.popup{
    display: none;
    position: fixed;
    top: 58%;
    left: 60%;
    transform: translate(-50%,-50%);
    z-index: 10000;
}

.popup-content{
    padding: 20px;
    border-radius: 20px;
    width: 60%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    /* border: 2px solid rgb(255, 255, 255); */
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.8);
    z-index: 999;
    display: none;
    pointer-events: auto;
}








  .site-footer {
  background: #ffffff;
  color: black; 
  padding: 3rem 1.5rem 1rem; 
  font-size: 0.95rem;
  margin-top: 40px;
}

.footernew{
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;

}
.footercol {
  flex: 1; 
  min-width: 180px;
}

.footercol h4 {
  color: rgb(0, 186, 227);
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.footercol p {
  line-height: 1.6;
  margin: 0 0 0.5rem;
}


.footercol ul {
    list-style: none;
    padding-left:  50px;
    margin-top: 0px;
} 


.footercol ul li {
  margin-bottom: 0.5rem;
}


.footercol a {
  color:black;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footercol a:hover {
  color: #60a5fa; 
}



.contact-info{
     line-height: -1;
    margin:  0 0 0.5rem ;

}


.footer-bottom {
  border-top: 1px solid #374151;
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 0.85rem;
  color: #032868;
}
@media (max-width: 768px) {
.site-footer {
    padding: 4rem 1rem 1rem;
  }

  .footernew{ font-size: 13px;
                        }
                        
.footercol {
    min-width: 100%; 
  }
  

}



.adlacts-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 20px;
  }
  .adlacts-table th {
    background:rgb(0, 186, 227); /* Adlacts Red */
    color: #fff;
    padding: 14px;
    text-align: left;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  .adlacts-table td {
    padding: 12px 14px;
    border-bottom: 1px solid #eee;
  }
  .adlacts-table tr:nth-child(even) {
    background: #F9F9F9; 
  }
  .adlacts-table tr:hover {
    background: #d6f5f0; 
  }
  .price {
    font-weight: 700;
    color: #12e806;
  }
